header{
    height: 70px;
    width: 100%;
    background-color: gray;
  
padding-bottom: 100px;
font-size: larger;

}

a{
    padding-left: 160px;
    font-size: 35px;
    padding-right: 160px;
    cursor: pointer;
}
table{
    text-align: center;
    width: 400px;
    height: 250px;
}
h2{
    text-align: center;
}
footer{
    background-color: gray;
    height: 70px;
    width: 100%;
    padding-top: 50px;
}
p{
    color: red;
    text-align: center;
    font-size: 30px;
}
div{
    text-align: center;
}
form{
    text-align: center;
    font-size: 30px;
}
.middle{
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 100px;
    font-size:xx-large;
font-weight: 900;
    padding: 50px;
    margin-left: 550px;
    background-color: gray;
}

 a:hover {
    background-color: #8b7f94;
  }


.image{
    height: 230px;
    width: 300px;
    float: left;
    padding-left: 250px;
    padding-top: 40px;
}

